.square1 {
  width: 150px;
  height: 150px;
  background-color: hsl(1, 90%, 64%);
}
.square2 {
  width: 150px;
  height: 150px;
  background-color: hsl(219, 85%, 26%);
}

.square3 {
  width: 150px;
  height: 150px;
  background-color: hsl(0, 0%, 100%);
}

.square4 {
  width: 150px;
  height: 150px;
  background-color: hsl(210, 60%, 98%);
}
.square5 {
  width: 150px;
  height: 150px;
  background-color: hsl(211, 68%, 94%);
}
.square6 {
  width: 150px;
  height: 150px;
  background-color: hsl(205, 33%, 90%);
}
.square7 {
  width: 150px;
  height: 150px;
  background-color: hsl(219, 14%, 63%);
}
.square8 {
  width: 150px;
  height: 150px;
  background-color: hsl(219, 12%, 42%);
}
.square9 {
  width: 150px;
  height: 150px;
  background-color: hsl(224, 21%, 14%);
}
